<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<!-- All the files that are required -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="../../public/style.css">
	<link rel="stylesheet" href="../../public/css/all.css">
	<title>Sign a Petition</title>
</head>

<body>
	<header id="header">
		<h2>
			<a href="/"><i class="fas fa-feather-alt fa-2x"></i>
				Sign a Petition
			</a>
		</h2>
		<nav>
			<ul>
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/petitions">All Petitions</a>
				</li>
				<li>
					<a href="/signin">Sign in</a>
				</li>
				<li>
					<a href="/registration">Register</a>
				</li>
			</ul>
		</nav>
	</header>


	{{{body}}}


	<footer id="footer">
		<h2>
			<a href="/"><i class="fas fa-at"></i></i>
				Raise Your Voice Initiative Berlin 2019
			</a>
		</h2>
	</footer>
	<script src="https://cdn.jsdelivr.net/npm/signature_pad@2.3.2/dist/signature_pad.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" charset="utf-8"></script>
	<script src="../../public/canvas.js" charset="utf-8"></script>
	<script src="../../public/main.js" charset="utf-8"></script>
</body>

</html>
