<section id="welcome">
	<div class="welcome-text">
		<p>
			Welcome to our petition page.
		</p>
		<p>
			Here you can find recent petitions!
		</p>
		<a href="/petition/1">1. Write a petition to start again the pyramid constructions.</a>
		<br>
		<p>
			<span style="font-size: 16px; color: #f6d365;">(Here, new projects can be added in the future.) <i class="fas fa-smile-wink"></i>)</span>
		</p>
	</div>
</section>
