<section id="thanks">
	<div class="thanks-text">

		{{#if err}}
			<p>
				Oops! There is something wrong!<br>
				Error: {{err}}
			</p>
		{{/if}}


		<p>
			Thank you {{name}} {{surname}} for registration!
		</p>
		<p>
			Your profile update process is succesfull.
		</p>
		<p>
			<a href="/petitions"><span style="font-weight: bold; color: #f6d365;">See more petitions here.</span></a>
		</p>
	</div>

</section>
