<section id="welcome">
	<div class="welcome-text">
		<div class="sign-in">
			<div>
				<h2>Sign in</h2>

				{{#if errors}}
					<p>{{errors}}</p>
				{{/if}}

			</div>
			<form type="hidden" method="POST">
				<div class="form-group">
					<label for="email">Email:</label>
					<input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
				</div>
				<div class="form-group">
					<label for="pwd">Password:</label>
					<input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password">
				</div>
				<input type="hidden" name="_csrf" value="{{csrfToken}}">
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</section>
