<section id="welcome">
	<div class="welcome-text">
		<p>
			Welcome to our petition page.
		</p>
		<p>
			We are sending to your petitions to related person or governments.
			<br>
			<br>
			Signing a petition is so easy. The things only you should do;
			<br>
			<br>
			<a href="/registration">REGISTER</a>
			<br>
			<a href="/signin">SIGN IN</a>
			<br>
			<br>
			<br>
			Or, if you would like to just surfing:
			<a href="/petitions">Take a glance at petitions!</a>
		</p>
	</div>
</section>
